{% extends 'base.html' %} {%block body%}
<h1>Password Generator</h1>
<form method="post">
  <div class="form-control mb-3">
    <label
      ><input type="checkbox" name="lowerletters" checked />Lowercase
      Letters</label
    >
    <br />
    <label
      ><input type="checkbox" name="upperletters" checked />Uppercase
      Letters</label
    >
    <br />
    <label
      ><input type="checkbox" name="aretherenumbers" checked />Numbers</label
    >
    <br />
    <label
      ><input type="checkbox" name="aretheresymbols" checked />Symbols (like ^,
      &, *, {, etc.)</label
    >
    <br />
    <label><input type="checkbox" name="aretherespaces" />Spaces</label>
    <br />
    <label
      ><input type="checkbox" name="memorability" />Increase Memorability
      <div class="help-tip" style="display: inline">
        <p>
          Includes 1-2 (depending on length) English words in your password to
          increase memorability. Unchecking "Lowercase Letters" and "Uppercase
          Letters" will not override this option. NOTE that if your password is
          extremely long (greater than 25 characters), the 2 English words will
          be noticeably toward the beginning of the password.
        </p>
      </div></label
    >
    <br />
    <label for="length">Length: </label>
    <input type="number" name="length" id="length" value="16" class="" />
  </div>

  <input
    type="submit"
    name="submit_button"
    value="Generate Password"
    class="form-control btn btn-primary"
  />
</form>
{%endblock%}
